<% include ../partials/header %>

<div class="container auth-container">
    <h1>Sign up to YelpCamp</h1>
    <form class="auth-form" action="/register" method="POST">
        <input type="text" placeholder="username" name="username">
        <br><br>
        <input type="password" placeholder="password" name="password">
        <br><br>
        <button class="btn-primary btn-block btn rounded">Submit</button>
    </form>
</div>


<% include ../partials/footer %>